.studentDiaryBioHeader {
  background: #f7f7f7;
  overflow: hidden;
  padding: 15px 0;
}
.studentDiaryBioHeaderText {
  width: 100%;
  display: inline-block;
}

.studentDiaryBioHeader #nameTitle {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 3rem !important;
  text-align: center;
}

.studentDiaryGraduatingClass {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2;
  text-align: center;
}

.studentDiaryEmail {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

p.studentDiaryEmail {
  margin-bottom: 0;
}

.studentDiaryImageContainer {
  margin-bottom: 12px;
}

.studentDiaryImageContainer img {
  max-width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
} 

.clearfix {
  clear: both;
}


@media (min-width: 992px) {
  
  .studentDiaryBioHeader {
    background: #f7f7f7;
    overflow: hidden;
    padding: 15px 0 7.5px 0;
  }

  .studentDiaryBioHeaderText {
    width:80%;
    padding-left: 5px;
    float: right;
  }

  .studentDiaryImageContainer {
    width: 20%;
    display: inline-block;
    margin-bottom: 0;
  }

  .studentDiaryBioHeader #nameTitle {
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
  }

  .studentDiaryGraduatingClass {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: left;
  }
  
  .studentDiaryEmail {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: left;
  }
}
