/* Add .flexContainer to #mainZone using jQuery */
.flexContainer {
	background: #ffffff;
	display: flex;
	flex-wrap: wrap;
}

/* Flexbox item */
.studentDiaryCardWrapper {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  padding: 15px !important;
}

.studentDiaryNamePhotoIntrotext.standardContent {
  background: #f7f7f7;
  padding: 2rem;
  overflow: hidden;
}

.studentDiaryNamePhotoIntrotext.standardContent img {
  border-radius: 50%;
  max-width: 300px;
}

.studentDiaryNamePhotoIntrotext.standardContent h3 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

/* Allows a Primary Content item to be above the flex container */
.primaryContentWrapper {
	flex: none;
	width: 100%;
}

/* Large Mobile */
@media only screen and (min-width: 425px) {
  .studentDiaryNamePhotoIntrotext.standardContent img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
    .studentDiaryCardWrapper {
      width: 50%;
    } 
}
